FWLA_CENTER_VERSION=latest
APP_MAIL_RECEIVE_PROTOCOL=imaps
APP_MAIL_RECEIVE_HOST=host
APP_MAIL_RECEIVE_PORT=993
APP_MAIL_RECEIVE_USERNAME=username
APP_MAIL_RECEIVE_PASSWORD=password
APP_MAIL_RECEIVE_HOT_WHITELIST=comma,separated
APP_MAIL_RECEIVE_TRAINING_WHITELIST=comma,separated
APP_GEO_HOME_LATITUDE=
APP_GEO_HOME_LONGITUDE=
APP_GEO_ORS_APIKEY=
APP_WEATHER_OPENWEATHERMAP_APIKEY=apiKey
POSTGRES_PASSWORD=password
POSTGRES_USERNAME=postgres
POSTGRES_DB=postgres
POSTGRES_VOLUME=/var/fwlacenter/data
